<div class="home">
    <div class="header">
        <h1>Star Wars Characters</h1>
        <h3>Star Wars related characters charts</h3>     
        <mat-divider></mat-divider>
    </div>
    <ng-container *ngIf="loading$ | async; else charts">
        <div class="spinner">
            <mat-spinner [diameter]="300">
            </mat-spinner>    
        </div>    
    </ng-container>
    <ng-template #charts>
        <div class="charts">
            <app-gender-chart></app-gender-chart>
            <mat-divider></mat-divider>
            <app-bmi-chart></app-bmi-chart>
        </div>    
    </ng-template>
</div>