<div class="modal-wrapper">
    <div class="list-wrapper">
        <ul>
            <div class="header-wrapper">
                <div class="name property">Name</div>
                <ng-container *ngIf="sortBy$ | async; let sortingBy">
                    <div class="property">
                        <button mat-button (click)="sortBy('height')">
                            Height
                            <mat-icon svgIcon="{{getIconString(sortingBy, sortByProperty.HEIGHT)}}"></mat-icon>    
                        </button>
                    </div>
                    <div class="property">
                        <button mat-button (click)="sortBy('mass')">
                            Mass
                            <mat-icon svgIcon="{{getIconString(sortingBy, sortByProperty.MASS)}}"></mat-icon>    
                        </button>
                    </div>    
                </ng-container>
            </div>
            <mat-divider></mat-divider>
            <li *ngFor="let character of characters">
                <div class="item-wrapper">
                    <div class="name property">{{ character.name }}</div>
                    <div class="property">{{ getHeightInMetersString(character.height) }}</div>
                    <div class="property">{{ getMassString(character.mass) }}</div>    
                </div>
            </li>
        </ul>
    </div>
</div>
