<h1>Star Wars Application</h1>
<div class="container">
    <div class="login">
        <div class="header">
            <h2>Enter your username and password</h2>
        </div>
        <div class="fields-container">
            <mat-form-field>
                <input
                    id="login"
                    [(ngModel)]="userName"
                    matInput
                    placeholder="Name"
                />
            </mat-form-field>
            <mat-form-field>
                <input
                    id="password"
                    [type]="hide ? 'password' : 'text'"
                    [(ngModel)]="password"
                    matInput
                    placeholder="Password"
                />
                <button mat-icon-button matSuffix (click)="hide = !hide">
                    <mat-icon>{{
                        hide ? 'visibility_off' : 'visibility'
                    }}</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <div class="action">
            <button mat-raised-button [color]="'primary'" (click)="login()">
                Login
            </button>
            <p [class.login-error]="loginFailed">{{ errorString }}</p>
        </div>
    </div>
</div>
