<h1>Star Wars Application</h1>
<div class="container">
    <div class="login">
        <div class="header">
            <h2>Enter your username and password</h2>
        </div>
        <div class="fields-container">
            <mat-form-field>
                <input matInput placeholder="Name">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Password">
            </mat-form-field>    
        </div>
        <div class="action">
            <button mat-raised-button [color]="'primary'">Login</button>
        </div>
    </div>
</div>